body { 
  margin: 0px 0px 0px 0px;
}
*:focus {
  outline: none;
}
#remote_video {
  width: 100%;
  height :100vh;
  position: absolute;
  margin: auto;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#start_button {
  background: url(../img/if_play_normal.png) left top no-repeat;
  width: 64px;
  height: 64px;
  border: 0;
}
.container{
  position: absolute;
  left: 0; top: 20%;
  width: 100%; height: 90%;
  overflow: visible;
  z-index: 12345;
  opacity: 10;
  transform: scale(.88, .88);
}
.rotate90 {
-webkit-transform: rotate(90deg);
}
